<div class="home-callout text-center container-fluid">
  <h2>Welcome to DevMatch</h2>
  <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4 class="text-center">Get basic access to the DevMatch community for free.</h4>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary btn-lg btn-block" %>
      </div>  <!--End of Well-->
    </div>  <!--End of Column-->
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Premium Membership</h2>
        <h4 class="text-center">Get premium access to the DevMatch community for $10/month.</h4>
        <%= link_to "Sign up with Premium", new_user_registration_path(plan: @premium_plan.id), class: "btn btn-success btn-lg btn-block" %>
      </div>  <!--End of Well-->
    </div>  <!--End of Column-->
  </div>  <!--End of Row-->
</div>  <!--End of Container-->